<h2>Employee List</h2>

@if (message) {
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
}

<table class="table table-striped">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>EmailId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (loadData()) {
        @for (employee of employeeList; track employee.id) {
        <tr>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.emailId }}</td>
            <td>
                <button class="btn btn-info" (click)="updateEmployee(employee.id)">Update</button>
                <button class="btn btn-danger" (click)="deleteEmployee(employee.id)" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
      }
    }

    @if (!loadData()) {
        <tr>
            <td colspan="4" class="text-center">Loading employee data...</td>
        </tr>
    }
    
  </tbody>