<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-3">Update Employee</h2>

        @if (!loadData()) {
            <div class="alert alert-info" role="alert">
                Loading employee data...
            </div>
        }

        @if (loadData()) {
            <form (ngSubmit)="onSubmit()">
                <div class="form-group mb-2">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" id="firstName" [(ngModel)]="employee.firstName" name="firstName" class="form-control">  <!-- Indicate that the related data to map is employee.firstName, must be declared in the component -->
                </div>
                
                <div class="form-group mb-2">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" id="lastName" [(ngModel)]="employee.lastName" name="lastName" class="form-control"> <!-- Indicate that the related data to map is employee.firstName, must be declared in the component -->
                </div>
                
                <div class="form-group mb-2">
                    <label for="emailId" class="form-label">Email ID:</label>
                    <input type="email" id="emailId" [(ngModel)]="employee.emailId" name="emailId" class="form-control"> <!-- Indicate that the related data to map is employee.firstName, must be declared in the component -->
                </div>
                
                <button type="submit" class="btn btn-success">Submit</button>
                <a [routerLink]="['/employees']" class="btn btn-secondary" style="margin-left: 10px;">Back to List</a>
            </form>
        }

        @if (failedMessage()) {
            <div class="alert alert-danger mt-3" role="alert">
                {{ failedMessage() }}
            </div>
        }
    </div>
</div>